<h1>List of cocktails</h1>

<% @cocktails.each do |r| %>
  <%= image_tag r.picture.url(:thumb) %>
  <%= link_to r.name + " (" + r.doses.size.to_s + " doses)", cocktail_path(r) %><br>
<% end %><br>
<%= link_to "Create new Cocktail", new_cocktail_path %>
